.star-rating-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.star-rating-btn {
  font-size: 18px;
  font-weight: 700;

  margin-bottom: 1rem;
  padding: 1rem 1.5rem;

  border-radius: 2rem;

  color: #ffffff;
  background-color: #707070;
}

.star-rating {
  margin-top: 2rem;
}

.material-icons-round {
  font-size: 4rem;

  cursor: pointer;

  color: #707070;
}
