.click-outside-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  padding: 1rem;
}

.click-outside-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 30rem;
  width: 100%;

  margin-bottom: 1rem;
  padding: 1rem 1.5rem;

  border: solid 1px var(--border-color);
  border-radius: 2rem;

  background-color: var(--bg-color);

  transition: all 0.5s;
}

.click-outside-title {
  text-align: center;

  font-size: 30px;
  font-weight: 700;

  color: var(--text-color);

  padding-bottom: 2rem;

  transition: all 0.5s;
}

.click-outside-text {
  font-size: 18px;
  font-weight: 400;

  padding-bottom: 3rem;

  color: var(--text-color);
  transition: all 0.5s;
}
