.star-rating-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.star-rating-btn {
  font-size: 18px;
  font-weight: 700;

  margin-bottom: 1rem;
  padding: 1rem 1.5rem;

  border: solid 1px var(--border-color);
  border-radius: 2rem;

  color: var(--text-color);
  background-color: var(--bg-color);
}

.star-rating {
  margin-top: 2rem;
}

.star-rating .material-icons-round {
  font-size: 4rem;

  cursor: pointer;
}

.star-inactive {
  color: var(--bg-color);
}

.star-active {
  color: var(--text-color);
}
