.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 85rem;
  width: 100%;

  padding: 2rem 1rem;

  border-bottom: solid var(--text-color) 1px;

  transition: all 0.5s;
}

.header-title {
  font-size: 36px;

  color: var(--text-color);

  transition: all 0.5s;
}

.theme-btn-border {
  position: relative;

  cursor: pointer;

  width: 4rem;
  height: 2rem;

  border: solid 1px var(--border-color);
  border-radius: 1rem;

  background-color: var(--bg-color);

  transition: all 0.5s;
}

.theme-btn {
  position: absolute;

  top: 50%;

  transition: all 1s;

  color: var(--text-color);
}

.dark {
  transform: translate(15%, -50%);
}

.light {
  transform: translate(135%, -50%);
}
