.accordion-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.accordion-settings {
  display: flex;
  justify-content: center;
  align-items: center;
}

.multi-select-btn {
  font-size: 18px;
  font-weight: 700;

  margin-bottom: 1rem;
  padding: 1rem 1.5rem;

  border: solid 1px var(--border-color);
  border-radius: 2rem;

  color: var(--text-color);
  background-color: var(--bg-color);
}

.accordion {
  max-width: 35rem;
  width: 100%;

  padding: 1rem;
}

.accordion-item {
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;

  border: solid 1px var(--border-color);
  border-radius: 2rem;

  background-color: var(--bg-color);
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  color: var(--text-color);
}

.accordion-title {
  font-size: 18px;
  font-weight: 700;
}

.accordion-header .material-icons-round {
  align-self: flex-start;
}

.accordion-content {
  display: flex;
  flex-direction: column;

  height: auto;

  padding: 10px 0;

  color: var(--text-color);
}

.accordion-p::before {
  content: "";
  display: inline-block;

  width: 100%;
  height: 2px;

  margin-bottom: 10px;

  background-color: var(--text-color);
}
