.component-title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 5rem;

  margin-bottom: 3rem;
}

.component-title {
  font-size: 30px;
  font-weight: 700;

  color: var(--text-color);

  padding-left: 1rem;

  transition: all 0.5s;
}

.nav-to-home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-to-home-btn .material-icons-round {
  font-size: 3rem;

  color: var(--text-color);

  transition: all 0.5s;

  &:hover {
    transform: scale(1.3);
  }
}
